Repository m-tuyishime/chess-llm: changes, and which lint-staged commands are due for each by the changed paths.
All: uv run ruff check --fix, uv run mypy, npm run lint:file --prefix website/client -- --fix

fix: Add --system flag to uv pip install for Vercel build environment
  vercel.json
Due: none

fix: Include storage.db in Vercel build
  .vercelignore
Due: none

fix: Adjust Vercel build command and ignore local artifacts
  .gitignore
  vercel.json
Due: none

fix: Align Vercel build script and command
  package.json
  vercel.json
Due: none

fix: Trim Python dependencies for Vercel runtime
  requirements.txt
Due: none

fix: SPA reload routing and suppress build warnings
  vercel.json
  website/client/vite.config.ts
Due: npm run lint:file --prefix website/client -- --fix

fix: Agent detail routing and Vercel build warnings
  package.json
  vercel.json
  website/client/src/pages/AgentDetail.tsx
Due: npm run lint:file --prefix website/client -- --fix

fix: Robust agent lookup and add debug endpoint
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy

test: Add encoded agent name coverage
  tests/test_server_endpoints.py
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy

ci: Add Vercel preview smoke tests
  .github/workflows/vercel-preview-smoke.yml
Due: none

ci: Fix preview smoke tests to avoid 401
  .github/workflows/vercel-preview-smoke.yml
Due: none

ci: Use Vercel preview protection bypass in smoke tests
  .github/workflows/vercel-preview-smoke.yml
Due: none

fix: Align JSON analytics and add server smoke coverage
  build.py
  chess_llm_eval/data/json_repo.py
  tests/test_server_analytics_json.py
Due: uv run ruff check --fix, uv run mypy

fix(build): validate generated JSON and strengthen analytics schema
  .husky/pre-commit
  .lintstagedrc.cjs
  build.py
  tests/test_server_analytics_json.py
  website/client/package.json
  website/server/analytics.py
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy

fix(vercel): install deps with pip
  package.json
  vercel.json
Due: none

fix(vercel): allow pip in managed env
  package.json
  vercel.json
Due: none

fix(vercel): pin uv python
  vercel.json
Due: none

fix(vercel): pin python runtime
  vercel.json
Due: none

fix(vercel): set install command
  vercel.json
Due: none

chore(ci): disable preview smoke
  .github/workflows/vercel-preview-smoke.yml
Due: none

ci: validate JSON build
  .github/workflows/ci.yml
  build.py
  chess_llm_eval/data/json_repo.py
  tests/test_api_parity.py
Due: uv run ruff check --fix, uv run mypy

fix: guard analytics charts
  website/client/src/components/ChartErrorBoundary.tsx
  website/client/src/pages/Analytics.tsx
Due: npm run lint:file --prefix website/client -- --fix

fix: register scatter controller
  website/client/src/components/charts/FinalRatingsIntervalsChart.tsx
Due: npm run lint:file --prefix website/client -- --fix

feat: enrich replay info and add rating confidence band
  website/client/src/components/charts/RatingTrendsChart.tsx
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/ReplayPage.css
  website/client/src/pages/ReplayPage.tsx
Due: npm run lint:file --prefix website/client -- --fix

feat: clarify replay tooltips
  website/client/src/components/MoveHistory.tsx
  website/client/src/pages/ReplayPage.tsx
Due: npm run lint:file --prefix website/client -- --fix

fix: refine replay tooltips
  website/client/src/pages/ReplayPage.css
  website/client/src/pages/ReplayPage.tsx
Due: npm run lint:file --prefix website/client -- --fix

fix: Implement immutable mode for Vercel deployment (#11)
  .github/workflows/ci.yml
  .github/workflows/vercel-preview-smoke.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.cjs
  .vercelignore
  api/index.py
  build.py
  chess_llm_eval/data/json_repo.py
  chess_llm_eval/data/sqlite.py
  package.json
  requirements-server.txt
  requirements.txt
  tests/test_api_parity.py
  tests/test_deployment_compat.py
  tests/test_json_repository.py
  tests/test_server_analytics_json.py
  tests/test_server_endpoints.py
  vercel.json
  website/client/index.html
  website/client/package.json
  website/client/public/favicon.svg
  website/client/src/components/ChartErrorBoundary.tsx
  website/client/src/components/MoveHistory.tsx
  website/client/src/components/charts/FinalRatingsIntervalsChart.tsx
  website/client/src/components/charts/RatingTrendsChart.tsx
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/Analytics.tsx
  website/client/src/pages/ReplayPage.css
  website/client/src/pages/ReplayPage.tsx
  website/client/vite.config.ts
  website/server/analytics.py
  website/server/dependencies.py
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy, npm run lint:file --prefix website/client -- --fix

Set up Vercel Web Analytics integration
  website/client/package-lock.json
  website/client/package.json
  website/client/src/App.tsx
Due: npm run lint:file --prefix website/client -- --fix

chore: remove outdated Docker setup and update documentation
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  README.md
  website/client/src/i18n/locales/en.json
  website/client/src/pages/AgentDetail.tsx
Due: npm run lint:file --prefix website/client -- --fix

fix: add missing pagination keys to French locale
  website/client/src/i18n/locales/fr.json
Due: none

chore: configure eslint-plugin-i18next to catch hardcoded strings
  website/client/eslint.config.js
  website/client/package-lock.json
  website/client/package.json
Due: none

feat: complete i18n implementation and fix hardcoded strings
  website/client/src/components/MoveHistory.tsx
  website/client/src/components/Navbar.tsx
  website/client/src/components/charts/RatingDeviationChart.tsx
  website/client/src/components/charts/RatingTrendsChart.tsx
  website/client/src/i18n/locales/en.json
  website/client/src/i18n/locales/fr.json
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/ReplayPage.tsx
Due: npm run lint:file --prefix website/client -- --fix

fix: resolve TypeScript error in AgentDetail.tsx by adding missing hook
  website/client/src/pages/AgentDetail.tsx
Due: npm run lint:file --prefix website/client -- --fix

chore: suppress i18n lint errors for proper names in About.tsx
  website/client/src/pages/About.tsx
Due: npm run lint:file --prefix website/client -- --fix

Fix: resolve remaining i18n lint warnings in App and Charts to fix CI
  website/client/src/App.tsx
  website/client/src/components/ChartErrorBoundary.tsx
  website/client/src/i18n/locales/en.json
  website/client/src/i18n/locales/fr.json
Due: npm run lint:file --prefix website/client -- --fix

chore: remove outdated Docker setup and update documentation (#13)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  README.md
  website/client/eslint.config.js
  website/client/package-lock.json
  website/client/package.json
  website/client/src/App.tsx
  website/client/src/components/ChartErrorBoundary.tsx
  website/client/src/components/MoveHistory.tsx
  website/client/src/components/Navbar.tsx
  website/client/src/components/charts/RatingDeviationChart.tsx
  website/client/src/components/charts/RatingTrendsChart.tsx
  website/client/src/i18n/locales/en.json
  website/client/src/i18n/locales/fr.json
  website/client/src/pages/About.tsx
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/ReplayPage.tsx
Due: npm run lint:file --prefix website/client -- --fix

Path conditions:
  uv run ruff check --fix: any of: **/*.py
  uv run mypy: any of: **/*.py
  npm run lint:file --prefix website/client -- --fix: any of: website/client/**/*.{ts,tsx}
