Repository m-tuyishime/chess-llm: changes, and which lint-staged commands are due for each by the changed paths.
All: uv run ruff check --fix, uv run mypy, npm run lint:file --prefix website/client -- --fix

.lintstagedrc:

{
  "**/*.py": [
    "uv run ruff check --fix",
    "uv run mypy"
  ],
  "website/client/**/*.{ts,tsx}": [
    "npm run lint:file --prefix website/client -- --fix"
  ]
}

docs: add task 3.8 (EN/FR toggle) to roadmap
  docs/roadmap.md
Due: none

style: remove copyright and trademark notice from footer
  website/client/src/App.tsx
Due: npm run lint:file --prefix website/client -- --fix

feat: Implement About Page (Issue 3.6) (#5)
  docs/roadmap.md
  website/client/public/report.pdf
  website/client/src/App.tsx
  website/client/src/pages/About.tsx
Due: npm run lint:file --prefix website/client -- --fix

docs: mark issue 3.6 as done in roadmap
  docs/roadmap.md
Due: none

feat: add analytics page skeleton and route
  website/client/src/App.tsx
  website/client/src/components/Navbar.tsx
  website/client/src/pages/Analytics.tsx
Due: npm run lint:file --prefix website/client -- --fix

feat: implement interactive analytics charts and endpoints
  chess_llm_eval/data/protocols.py
  chess_llm_eval/py.typed
  chess_llm_eval/schemas.py
  docs/roadmap.md
  server.log
  website/client/package-lock.json
  website/client/package.json
  website/client/src/api/client.ts
  website/client/src/api/types.ts
  website/client/src/components/ChartCard.tsx
  website/client/src/components/charts/IllegalMovesChart.tsx
  website/client/src/components/charts/PuzzleOutcomesChart.tsx
  website/client/src/components/charts/RatingTrendsChart.tsx
  website/client/src/components/charts/TokenUsageChart.tsx
  website/client/src/components/charts/index.ts
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/Analytics.tsx
  website/client/vite.config.ts
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy, npm run lint:file --prefix website/client -- --fix

fix: remove server.log and restore py.typed
  chess_llm_eval/py.typed
  server.log
Due: none

feat: implement interactive analytics dashboard with research-calibrated visualizations
  chess_llm_eval/data/protocols.py
  chess_llm_eval/schemas.py
  tests/conftest.py
  tests/test_e2e_pipeline.py
  website/client/src/api/types.ts
  website/client/src/components/ChartCard.tsx
  website/client/src/components/charts/FinalRatingsIntervalsChart.tsx
  website/client/src/components/charts/RatingDeviationChart.tsx
  website/client/src/components/charts/index.ts
  website/client/src/pages/Analytics.tsx
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy, npm run lint:file --prefix website/client -- --fix

feature: Issue 3.7 Analytics & Comparison (#6)
  chess_llm_eval/data/protocols.py
  chess_llm_eval/schemas.py
  docs/roadmap.md
  tests/conftest.py
  tests/test_e2e_pipeline.py
  website/client/package-lock.json
  website/client/package.json
  website/client/src/App.tsx
  website/client/src/api/client.ts
  website/client/src/api/types.ts
  website/client/src/components/ChartCard.tsx
  website/client/src/components/Navbar.tsx
  website/client/src/components/charts/FinalRatingsIntervalsChart.tsx
  website/client/src/components/charts/IllegalMovesChart.tsx
  website/client/src/components/charts/PuzzleOutcomesChart.tsx
  website/client/src/components/charts/RatingDeviationChart.tsx
  website/client/src/components/charts/RatingTrendsChart.tsx
  website/client/src/components/charts/TokenUsageChart.tsx
  website/client/src/components/charts/index.ts
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/Analytics.tsx
  website/client/vite.config.ts
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy, npm run lint:file --prefix website/client -- --fix

docs: mark issue 3.8 as in progress in roadmap
  docs/roadmap.md
Due: none

feat: implement internationalization (EN/FR) for all website pages
  docs/roadmap.md
  website/client/package-lock.json
  website/client/package.json
  website/client/src/components/AnalysisBanner.tsx
  website/client/src/components/MoveHistory.tsx
  website/client/src/components/Navbar.tsx
  website/client/src/hooks/useLocalStorage.ts
  website/client/src/i18n/config.ts
  website/client/src/i18n/index.ts
  website/client/src/i18n/locales/en.json
  website/client/src/i18n/locales/fr.json
  website/client/src/main.tsx
  website/client/src/pages/About.tsx
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/Analytics.tsx
  website/client/src/pages/Leaderboard.tsx
  website/client/src/pages/ReplayPage.tsx
Due: npm run lint:file --prefix website/client -- --fix

perf: optimize analytics page performance with vectorized pandas and direct table queries
  chess_llm_eval/data/sqlite.py
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy

chore: update dependencies and gitignore for backups
  .gitignore
  pyproject.toml
  uv.lock
Due: none

perf(backend): optimize analytics queries and add server-side caching
  chess_llm_eval/data/sqlite.py
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy

perf(frontend): memoize charts and disable animations for faster load
  website/client/src/components/charts/FinalRatingsIntervalsChart.tsx
  website/client/src/components/charts/RatingDeviationChart.tsx
  website/client/src/components/charts/RatingTrendsChart.tsx
Due: npm run lint:file --prefix website/client -- --fix

feat(infra): extend backup system with full DB export and SQL dump
  chess_llm_eval/data/backup.py
  scripts/backup_db.py
Due: uv run ruff check --fix, uv run mypy

feature: Issue 3.8 Internationalization (EN/FR) (#8)
  .gitignore
  chess_llm_eval/data/backup.py
  chess_llm_eval/data/sqlite.py
  docs/roadmap.md
  pyproject.toml
  scripts/backup_db.py
  uv.lock
  website/client/package-lock.json
  website/client/package.json
  website/client/src/components/AnalysisBanner.tsx
  website/client/src/components/MoveHistory.tsx
  website/client/src/components/Navbar.tsx
  website/client/src/components/charts/FinalRatingsIntervalsChart.tsx
  website/client/src/components/charts/RatingDeviationChart.tsx
  website/client/src/components/charts/RatingTrendsChart.tsx
  website/client/src/hooks/useLocalStorage.ts
  website/client/src/i18n/config.ts
  website/client/src/i18n/index.ts
  website/client/src/i18n/locales/en.json
  website/client/src/i18n/locales/fr.json
  website/client/src/main.tsx
  website/client/src/pages/About.tsx
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/Analytics.tsx
  website/client/src/pages/Leaderboard.tsx
  website/client/src/pages/ReplayPage.tsx
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy, npm run lint:file --prefix website/client -- --fix

fix(vercel): set outputDirectory to website/client/dist
  vercel.json
Due: none

fix: Set Vercel output directory (#10)
  vercel.json
Due: none

feat: Implement immutable mode for Vercel deployment
  chess_llm_eval/data/sqlite.py
  tests/test_deployment_compat.py
  vercel.json
  website/server/dependencies.py
Due: uv run ruff check --fix, uv run mypy

feat: Add chess-themed favicon
  website/client/index.html
  website/client/public/favicon.svg
Due: none

fix: Add missing app import to api/index.py
  api/index.py
Due: uv run ruff check --fix, uv run mypy

fix: Add noqa comment for Vercel app import
  api/index.py
Due: uv run ruff check --fix, uv run mypy

fix: Update vercel.json to include Python modules
  vercel.json
Due: none

fix: Simplify vercel.json configuration
  vercel.json
Due: none

fix: Correct vercel.json excludeFiles format
  vercel.json
Due: none

fix: Resolve mypy type errors in JSONRepository
  chess_llm_eval/data/json_repo.py
Due: uv run ruff check --fix, uv run mypy

fix: Remove unused variable and relax test assertion
  tests/test_json_repository.py
Due: uv run ruff check --fix, uv run mypy

fix: Add type annotations for mypy compliance
  tests/test_json_repository.py
Due: uv run ruff check --fix, uv run mypy

fix: Use uv pip install and suppress hardlink warning
  vercel.json
Due: none

fix: Set UV_LINK_MODE directly in build command
  vercel.json
Due: none

fix: Move file exclusions to .vercelignore
  .vercelignore
  vercel.json
Due: none
