Repository m-tuyishime/chess-llm: changes, and which lint-staged commands are due for each by the changed paths.
All: uv run ruff check --fix, uv run mypy, npm run lint --prefix website/client -- --fix

feat: Implement API client and types for Roadmap 3.2
  docs/roadmap.md
  website/client/eslint.config.js
  website/client/src/api/client.ts
  website/client/src/api/types.ts
  website/client/src/vite-env.d.ts
Due: npm run lint --prefix website/client -- --fix

fix(server): allow sqlite multithreading and cors for port 5174
  chess_llm_eval/data/sqlite.py
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy

feat(client): implement leaderboard page with tdd
  website/client/package-lock.json
  website/client/package.json
  website/client/src/pages/Leaderboard.test.tsx
  website/client/src/pages/Leaderboard.tsx
  website/client/src/test/setup.ts
  website/client/vite.config.ts
Due: npm run lint --prefix website/client -- --fix

docs: mark task 3.3 as complete in roadmap
  docs/roadmap.md
Due: none

feat(website): refinements to agent detail page
  .lintstagedrc
  chess_llm_eval/data/models.py
  chess_llm_eval/data/sqlite.py
  chess_llm_eval/schemas.py
  docs/roadmap.md
  website/client/.prettierrc
  website/client/package.json
  website/client/src/App.tsx
  website/client/src/api/client.ts
  website/client/src/api/types.ts
  website/client/src/components/Navbar.tsx
  website/client/src/pages/AgentDetail.test.tsx
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/Leaderboard.tsx
  website/client/src/style.css
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy, npm run lint --prefix website/client -- --fix

docs: add analytics and comparison features to roadmap
  docs/roadmap.md
Due: none

fix(ci): fix ruff lint errors and rename CI jobs to library-quality and website-quality
  .github/workflows/ci.yml
  chess_llm_eval/data/sqlite.py
Due: uv run ruff check --fix, uv run mypy

feat(website): Implement Agent Detail Page (3.4) & UI/Dev Enhancements (#3)
  .github/workflows/ci.yml
  .lintstagedrc
  chess_llm_eval/data/models.py
  chess_llm_eval/data/sqlite.py
  chess_llm_eval/schemas.py
  docs/roadmap.md
  website/client/.prettierrc
  website/client/package.json
  website/client/src/App.tsx
  website/client/src/api/client.ts
  website/client/src/api/types.ts
  website/client/src/components/Navbar.tsx
  website/client/src/pages/AgentDetail.test.tsx
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/Leaderboard.tsx
  website/client/src/style.css
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy, npm run lint --prefix website/client -- --fix

feat(ui): stabilize ReplayPage, fix FEN initialization, and resolve linting/type errors
  chess_llm_eval/data/sqlite.py
  website/client/package-lock.json
  website/client/package.json
  website/client/src/App.tsx
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/ReplayPage.css
  website/client/src/pages/ReplayPage.test.tsx
  website/client/src/pages/ReplayPage.tsx
  website/client/src/style.css
  website/client/vite.config.ts
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy, npm run lint --prefix website/client -- --fix

feat(website): refactor ReplayPage to use custom hook and add comprehensive tests
  .vscode/settings.json
  chess_llm_eval/schemas.py
  website/client/src/api/client.ts
  website/client/src/api/types.ts
  website/client/src/components/AnalysisBanner.tsx
  website/client/src/components/MoveHistory.tsx
  website/client/src/components/Navbar.tsx
  website/client/src/hooks/useChessReplay.test.ts
  website/client/src/hooks/useChessReplay.ts
  website/client/src/pages/AgentDetail.test.tsx
  website/client/src/pages/ReplayPage.animation.test.tsx
  website/client/src/pages/ReplayPage.css
  website/client/src/pages/ReplayPage.test.tsx
  website/client/src/pages/ReplayPage.tsx
  website/client/src/style.css
  website/client/src/verify_fen_logic.ts
  website/client/vite.config.ts
  website/server/main.py
Due: uv run ruff check --fix, uv run mypy, npm run lint --prefix website/client -- --fix

feat(ui): finalize ReplayPage logic, fix agent routing, and improve move history grouping
  website/client/src/App.tsx
  website/client/src/components/MoveHistory.tsx
  website/client/src/pages/AgentDetail.tsx
  website/client/src/pages/ReplayPage.tsx
Due: npm run lint --prefix website/client -- --fix

feat(website): add external Lichess puzzle link to ReplayPage
  website/client/src/pages/ReplayPage.tsx
  website/client/vite.config.ts
Due: npm run lint --prefix website/client -- --fix

fix(ui): improve illegal move analysis to handle redundant disambiguation and clarify reasons
  website/client/src/components/AnalysisBanner.tsx
  website/client/src/components/MoveHistory.tsx
  website/client/src/hooks/useChessReplay.ts
  website/client/src/pages/ReplayPage.tsx
Due: npm run lint --prefix website/client -- --fix

feat(ui): add blinking red arrows for illegal moves and fix typescript errors
  backend.log
  frontend.log
  frontend_4001.log
  frontend_4002.log
  frontend_relaunch.log
  website/client/src/components/AnalysisBanner.tsx
  website/client/src/components/MoveHistory.tsx
  website/client/src/hooks/useChessReplay.ts
  website/client/src/pages/ReplayPage.css
  website/client/src/pages/ReplayPage.tsx
Due: npm run lint --prefix website/client -- --fix

feat(ui): refine ownership hallucination visualization with correct piece colors and better logic
  backend.log
  frontend.log
  website/client/src/hooks/useChessReplay.ts
Due: npm run lint --prefix website/client -- --fix

feat(ui): implement custom curved board arrows with agent-color borders
  website/client/src/components/BoardArrows.tsx
  website/client/src/pages/ReplayPage.css
  website/client/src/pages/ReplayPage.tsx
Due: npm run lint --prefix website/client -- --fix

fix(ui): improve agent color label contrast and fix typescript/css errors
  website/client/src/components/BoardArrows.tsx
  website/client/src/hooks/useChessReplay.test.ts
  website/client/src/pages/ReplayPage.css
  website/client/src/pages/ReplayPage.tsx
Due: npm run lint --prefix website/client -- --fix

feat: add unified dev command and concurrently dependency
  package-lock.json
  package.json
Due: none

fix(ui): resolve linting and formatting issues for CI
  .gitignore
  website/client/src/api/types.ts
  website/client/src/lib/chess-logic.ts
  website/client/src/pages/AgentDetail.tsx
  website/client/src/style.css
Due: npm run lint --prefix website/client -- --fix

fix(lint): remove trailing whitespace in sqlite.py
  chess_llm_eval/data/sqlite.py
Due: uv run ruff check --fix, uv run mypy

fix(test): update mock data to match GameSummaryResponse type
  website/client/src/pages/AgentDetail.test.tsx
Due: npm run lint --prefix website/client -- --fix

fix(ui): dynamic arrow border color based on turn color
  website/client/src/components/BoardArrows.tsx
  website/client/src/hooks/useChessReplay.ts
Due: npm run lint --prefix website/client -- --fix

style: improve arrow rendering (borders, caps, offsets)
  website/client/src/components/BoardArrows.tsx
Due: npm run lint --prefix website/client -- --fix

feat: add puzzle export script and seed data
  data/puzzles.json
  scripts/export_puzzles.py
Due: uv run ruff check --fix, uv run mypy

refactor: create backup module and remove temp script
  chess_llm_eval/data/backup.py
  scripts/export_puzzles.py
Due: uv run ruff check --fix, uv run mypy

style: round arrow base and center alignment
  website/client/src/components/BoardArrows.tsx
Due: npm run lint --prefix website/client -- --fix

chore: ignore sqlite databases
  .gitignore
Due: none

fix: address code review (sql injection, move ordering, accessibility, performance)
  chess_llm_eval/data/sqlite.py
  website/client/src/components/MoveHistory.tsx
  website/client/src/hooks/useChessReplay.ts
  website/client/src/pages/ReplayPage.css
  website/client/src/pages/ReplayPage.tsx
Due: uv run ruff check --fix, uv run mypy, npm run lint --prefix website/client -- --fix

fix: address PR review (sqlite updates, backup safety, frontend refactor)
  chess_llm_eval/data/backup.py
  chess_llm_eval/data/sqlite.py
Due: uv run ruff check --fix, uv run mypy

fix: refactor styling, harden logic, and add permanent test
  .gitignore
  tests/test_sqlite_order.py
  website/client/src/components/BoardArrows.tsx
  website/client/src/hooks/useChessReplay.ts
  website/client/src/lib/chess-logic.ts
Due: uv run ruff check --fix, uv run mypy, npm run lint --prefix website/client -- --fix

docs: mark issue 3.5 as done in roadmap
  docs/roadmap.md
Due: none

feat: implement About page content with research summary and PDF link
  website/client/public/report.pdf
  website/client/src/pages/About.tsx
Due: npm run lint --prefix website/client -- --fix

docs: update roadmap for completed about page
  docs/roadmap.md
Due: none

Path conditions:
  uv run ruff check --fix: any of: **/*.py
  uv run mypy: any of: **/*.py
  npm run lint --prefix website/client -- --fix: any of: website/client/**/*.{ts,tsx}
